.nav {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 120;
    min-height: 95px;
    position: relative;
    /* Dropdowns (large screen) */
  }
  
  .nav__wrap {
    padding-left: 20px;
  }
  
  @media only screen and (min-width: 1200px) {
    .nav__wrap {
      padding-left: 44px;
    }
  }
  
  .nav__container {
    position: relative;
  }
  
  @media only screen and (min-width: 1200px) {
    .nav__container--side-padding {
      padding: 0 70px;
    }
  }
  
  @media only screen and (max-width: 1199px) {
    .nav__container--side-padding {
      padding: 0 30px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .nav__container--side-padding {
      padding: 0 20px;
    }
  }
  
  .nav__container-box {
    padding: 0 30px;
    background-color: #fff;
    border-radius: 2px;
    position: relative;
  }
  
  .nav__menu, .nav__dropdown-menu {
    list-style: none;
  }
  
  .nav__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .nav__menu li {
    position: relative;
  }
  
  .nav__menu > li > a {
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 15px;
    padding: 0 17px;
    line-height: 95px;
    display: block;
    position: relative;
  }
  
  .nav__menu > li > a:hover {
    color: #ffb31a;
  }
  
  .nav__menu > .active > a {
    color: #ffb31a;
  }
  
  @media only screen and (min-width: 992px) {
    .nav__wrap {
      display: block !important;
      height: auto !important;
    }
    .nav__menu > li {
      display: inline-block;
      text-align: center;
    }
    .nav__dropdown-menu {
      position: absolute;
      left: -5px;
      top: 100%;
      z-index: 1000;
      min-width: 220px;
      width: 100%;
      text-align: left;
      padding: 20px 0;
      list-style: none;
      background-color: #181818;
      border-radius: 0;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      display: block;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    .nav__dropdown-menu > li > a {
      color: #868686;
      padding: 5px 30px;
      font-size: 14px;
      line-height: 21px;
      display: block;
    }
    .nav__dropdown-menu > li > a:hover, .nav__dropdown-menu > li > a:focus {
      color: #ffb31a;
    }
    .nav__dropdown-menu.hide-dropdown {
      visibility: hidden !important;
      opacity: 0 !important;
    }
    .nav__dropdown-menu--right {
      right: 0;
    }
    .nav__dropdown:hover > .nav__dropdown-menu {
      opacity: 1;
      visibility: visible;
    }
    .nav__dropdown-menu .nav__dropdown-menu {
      left: 100%;
      top: -20px;
    }
    .nav__dropdown .nav__dropdown {
      position: relative;
    }
    .nav__dropdown .nav__dropdown > a:after {
      content: '\e876';
      font-family: 'ui-icons';
      font-size: 10px;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    .nav__dropdown-trigger {
      display: none;
    }
  }
  
  .mobile body {
    cursor: pointer;
  }
  
  .nav__menu > .current_page_parent > a {
    color: #ffb31a;
  }
  
  /* Logo
  -------------------------------------------------------*/
  .logo {
    line-height: 1;
  }
  
  /* Nav Flexbox
  -------------------------------------------------------*/
  header .flex-parent {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  @media only screen and (max-width: 991px) {
    header .flex-parent {
      display: block;
    }
  }
  
  .nav--align-right {
    margin-left: auto;
  }
  
  .nav--align-left {
    margin-right: auto;
  }
  
  /* Top Bar
  -------------------------------------------------------*/
  .top-bar {
    height: 60px;
  }
  
  .top-bar--transparent {
    background-color: transparent;
    position: absolute;
    width: 100%;
    z-index: 120;
  }
  
  .top-bar--transparent .social,
  .top-bar--transparent .top-bar__icon,
  .top-bar--transparent .top-bar__phone-number,
  .top-bar--transparent .top-bar__email {
    opacity: .7;
    color: #fff;
  }
  
  .top-bar--transparent .social:hover, .top-bar--transparent .social:focus,
  .top-bar--transparent .top-bar__icon:hover,
  .top-bar--transparent .top-bar__icon:focus,
  .top-bar--transparent .top-bar__phone-number:hover,
  .top-bar--transparent .top-bar__phone-number:focus,
  .top-bar--transparent .top-bar__email:hover,
  .top-bar--transparent .top-bar__email:focus {
    opacity: 1;
  }
  
  .top-bar__item {
    height: 60px;
    line-height: 60px;
    display: inline-block;
    margin-right: 16px;
  }
  
  .top-bar__item:last-child {
    margin-right: 0;
  }
  
  .top-bar__item--align-right {
    float: right;
  }
  
  .top-bar__phone-number, .top-bar__email {
    font-size: 14px;
  }
  
  /* Nav Icon Toggle (mobile nav)
  -------------------------------------------------------*/
  .nav__icon-toggle {
    margin-left: auto;
    position: relative;
    padding: 9px 0 9px 10px;
    background-color: transparent;
    border: none;
    z-index: 50;
  }
  
  @media only screen and (min-width: 992px) {
    .nav__icon-toggle {
      display: none;
    }
  }
  
  .nav__icon-toggle-bar {
    background-color: #222222;
    width: 18px;
    display: block;
    height: 2px;
    border-radius: 1px;
    margin-bottom: 4px;
  }
  
  .nav__icon-toggle-bar:last-child {
    margin-bottom: 0;
  }
  
  .nav__icon-toggle:focus .nav__icon-toggle-bar,
  .nav__icon-toggle:hover .nav__icon-toggle-bar {
    background-color: #ffb31a;
  }
  
  .nav__icon-toggle:focus {
    outline: none;
  }
  
  /* Nav Sticky
  -------------------------------------------------------*/
  .nav__holder.offset {
    -webkit-transform: translate3d(0, -100%, 0);
    -moz-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    -o-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .nav__holder.scrolling {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
  }
  
  .nav__holder.sticky {
    position: fixed;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  
  .nav__holder.sticky.scrolling {
    opacity: 1;
    visibility: visible;
  }
  
  .nav__holder.sticky .nav__menu > li > a {
    line-height: 60px;
  }
  
  .nav__holder.sticky .nav__container-box {
    padding: 0;
  }
  
  /* Nav Boxed
  -------------------------------------------------------*/
  @media only screen and (min-width: 992px) {
    .nav--boxed {
      position: absolute;
      top: 60px;
      width: 100%;
    }
  }
  
  /* Nav Side
  -------------------------------------------------------*/
  @media only screen and (min-width: 992px) {
    .nav--side {
      z-index: 500;
      height: 100%;
      width: 240px;
    }
    .nav--side .nav__holder,
    .nav--side .nav__container,
    .nav--side .flex-parent {
      height: 100%;
    }
    .nav--side .nav__container {
      padding: 60px 40px 40px;
    }
    .nav--side .flex-parent {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .nav--side .nav__wrap {
      padding-left: 0;
      width: 100%;
      margin-top: 40px;
    }
    .nav--side .nav__menu,
    .nav--side .nav__menu > li {
      display: block;
    }
    .nav--side .nav__menu > li {
      text-align: left;
    }
    .nav--side .nav__menu > li > a {
      line-height: 1;
      padding: 17px 0;
    }
    .nav--side .nav__dropdown-menu {
      position: relative;
      display: none;
      visibility: visible;
      opacity: 1;
      padding: 0;
      left: 0;
      top: auto;
      background-color: transparent;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
    }
    .nav--side .nav__dropdown-menu .nav__dropdown-menu {
      top: auto;
      padding-left: 10px;
    }
    .nav--side .nav__dropdown .nav__dropdown > a:after {
      display: none;
    }
    .nav--side .nav__dropdown-menu > li > a {
      padding: 8px;
    }
    .nav--side .nav__dropdown .nav__dropdown .nav__dropdown-trigger {
      height: 37px;
      line-height: 37px;
    }
    .nav--side .nav__dropdown-trigger {
      display: block;
      width: 36px;
      height: 49px;
      line-height: 49px;
      text-align: center;
      cursor: pointer;
      position: absolute;
      right: 0;
      font-size: 12px;
      top: 0;
    }
    .nav--side .nav__dropdown-trigger:hover, .nav--side .nav__dropdown-trigger:focus {
      color: #ffb31a;
    }
    .nav--side .nav__phone--mobile {
      margin-top: 40px;
    }
    .nav--side-sticky-left {
      position: fixed;
      left: 0;
      top: 0;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .nav--side {
      width: 300px;
    }
  }
  
  .nav__footer {
    margin-top: auto;
  }
  
  .nav__footer .socials {
    margin-bottom: 24px;
  }
  
  /* Nav 1
  -------------------------------------------------------*/
  @media only screen and (min-width: 992px) {
    .nav-1 {
      min-height: 70px;
    }
    .nav-1 .flex-parent {
      height: 70px;
    }
    .nav-1 .nav__container {
      padding: 0 70px;
    }
    .nav-1 .nav__wrap {
      display: none !important;
    }
  }
  
  /* Nav Icon Toggle
  -------------------------------------------------------*/
  .nav-icon-toggle {
    padding: 0;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 0.15s linear;
    -moz-transition: 0.15s linear;
    -ms-transition: 0.15s linear;
    -o-transition: 0.15s linear;
    transition: 0.15s linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    margin-left: 40px;
    overflow: visible;
  }
  
  .nav-icon-toggle:focus {
    outline: none;
  }
  
  .nav-icon-toggle__box {
    width: 24px;
    height: 24px;
    position: relative;
    display: block;
  }
  
  .nav-icon-toggle__inner {
    display: block;
    top: 50%;
    margin-top: -1px;
  }
  
  .nav-icon-toggle__inner, .nav-icon-toggle__inner:before, .nav-icon-toggle__inner:after {
    width: 24px;
    height: 1px;
    background-color: #222222;
    position: absolute;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .nav-icon-toggle:hover .nav-icon-toggle__inner,
  .nav-icon-toggle:hover .nav-icon-toggle__inner:before,
  .nav-icon-toggle:hover .nav-icon-toggle__inner:after {
    background-color: #ffb31a;
  }
  
  .nav-icon-toggle__inner:before, .nav-icon-toggle__inner:after {
    content: "";
    display: block;
  }
  
  .nav-icon-toggle__inner:before {
    top: -8px;
  }
  
  .nav-icon-toggle__inner:after {
    bottom: -8px;
  }
  
  @media only screen and (max-width: 991px) {
    .nav-icon-toggle {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 20px;
    }
  }
  
  /* Sidenav
  -------------------------------------------------------*/
  @media only screen and (min-width: 992px) {
    .sidenav {
      background-color: #fff;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 60px 40px;
      width: 320px;
      z-index: 121;
      overflow-y: auto;
      -webkit-transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      -moz-transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      -ms-transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      transition: -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
      -webkit-transform: translateX(320px);
      -moz-transform: translateX(320px);
      -ms-transform: translateX(320px);
      -o-transform: translateX(320px);
      transform: translateX(320px);
    }
    .sidenav--is-open {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
    }
    .sidenav__close {
      position: absolute;
      right: 40px;
      top: 24px;
    }
    .sidenav__close-label {
      float: left;
      margin-right: 8px;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      line-height: 27px;
      font-size: 12px;
    }
    .sidenav__close-button {
      padding: 0;
      background: transparent;
      border: 0;
      color: #868686;
      height: 24px;
    }
    .sidenav__close-button:hover {
      color: #ffb31a;
    }
    .sidenav__close-button:focus {
      outline: none;
    }
    .sidenav__close-icon {
      font-size: 20px;
    }
    .content-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      z-index: 121;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
      -moz-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
      -ms-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
      -o-transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
      transition: 0.3s cubic-bezier(0.16, 0.36, 0, 0.98);
      background-color: rgba(0, 0, 0, 0.5);
    }
    .content-overlay--is-visible {
      opacity: 1;
      visibility: visible;
    }
  }
  
  /* Nav Phone / Email / Socials
  -------------------------------------------------------*/
  .nav__phone {
    font-size: 14px;
    font-family: "Barlow", sans-serif;
    font-weight: 600;
  }
  
  .nav__phone-text, .nav__phone-number {
    color: #222222;
  }
  
  .nav__phone + .nav__socials {
    padding-left: 44px;
    margin-left: 44px;
    border-left: 1px solid #e5e5e5;
  }
  
  @media only screen and (max-width: 1199px) {
    .nav__phone + .nav__socials {
      padding-left: 20px;
      margin-left: 20px;
    }
  }
  
  @media only screen and (max-width: 991px) {
    .nav__phone + .nav__socials {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
    }
  }
  
  .nav__phone--mobile {
    padding: 20px 0 8px;
  }
  
  .nav__socials--mobile,
  .nav__email--mobile {
    padding: 8px 0 20px;
  }
  
  .nav__email {
    font-family: "Barlow", sans-serif;
    font-weight: 14;
    font-weight: 600;
    color: #222222;
  }
  
  /* Nav Search
  -------------------------------------------------------*/
  .nav__search-link {
    position: relative;
    display: block;
    color: inherit;
    font-size: 22px;
  }
  
  .nav__search-form {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 23;
  }
  
  .nav__search-input {
    font-family: "Open Sans", sans-serif;
    padding: 0 30px;
    height: 100%;
    border: none;
    font-size: 24px;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .nav__search-close {
    position: absolute;
    width: 16px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    top: 50%;
    margin-top: -18px;
    right: 30px;
    font-size: 24px;
    color: #868686;
    cursor: pointer;
  }
  
  .ui-search:before {
    position: relative;
    top: 1px;
  }
  
  .ui-close:before {
    position: relative;
    top: -2px;
  }
  
  /* Mobile Search */
  .nav__search-mobile .search-input {
    height: 46px;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 0;
    background-color: transparent;
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #868686;
  }
  
  .nav__search-mobile .search-input:focus {
    background-color: transparent;
  }
  
  .nav__search-mobile .search-button {
    width: 46px;
    height: 46px;
    padding-left: 26px;
    font-size: 18px;
  }
  
  .search-icon {
    color: #868686;
  }
  